<div clas="container h-100 d-flex justify-content-center">
    <div class="card character-card">
        <div>
            <img [src]="character.image" alt="Card image cap" class="card-img-top"/>
        </div>
        <div class="card-body">
            <div class="title-container">
                <h5 class="card-title me-2">{{character.name}}
                </h5>
                <span class="badge" [ngClass]="{
                        'bg-success': character.status === 'Alive',
                        'bg-danger' : character.status === 'Dead',
                        'bg-secondary' : character.status === 'unknown'
                    }">{{character.status}}</span>
            </div>
            <div class="card-text">
                <ul>
                    <li>
                        Species: {{character.species}}
                    </li>
                    <li>
                        Origin: {{character.origin.name}}
                    </li>
                    <li *ngIf="character.type">
                        Type: {{character.type}}
                    </li>
                    <li>
                        Episode Count: {{character.episode.length}}
                    </li>
                    <li *ngIf="character.location">
                        Location: {{character.location.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

