<p class="h1">Workout Log</p>

<div class="form-group">
    <input
        type="text"
        class="form-control"
        id="workoutDate"
        [(ngModel)]="workoutDate"
        name="workoutDate"
        placeholder="Enter date (DD/MM/YY)"
    />
</div>

<div
    *ngFor="let entry of exerciseEntries; let i = index"
    class="card mx-auto"
    style="width: 18rem"
>
    <div class="card-body">
        <h5 class="card-title">{{ entry.exercise }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ entry.weight }} kgs</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ entry.sets }} sets</h6>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ entry.repetitions }} reps
        </h6>
        <button
            class="btn btn-danger"
            type="button"
            (click)="deleteExerciseEntry(i)"
        >
            Delete
        </button>
    </div>
</div>

<button (click)="submitWorkout()" class="new-workout-btn btn btn-primary">
    Submit Workout
</button>
