.h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.btn-secondary {
    margin-top: 5%;
    margin-left: 16%;
    
}

.btn-danger {
    margin-top: 5%;
    margin-left: 35%;

}

.btn-primary {
    margin-top: 20%;
   margin-left: 34%;
}
