<ng-container *ngIf="form">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="mb-4">
      <label>
        User Name
        <br/>
        <input formControlName="userName">
      </label>
    </div>
    <div class="mb-4">
        <label>
            Password
            <input formControlName="password" [attr.type]="hidePassword? 'password': null">

        </label>
    </div>
    <button type="submit" class="btn btn-primary">
      Login
    </button>
  </form>
    <button (click)="togglePassword()" class="btn badge-danger">
      {{hidePassword? "Show" : "Hide"}} Password
    </button>
</ng-container>
