label {
  width: 100%;
}

input {
  width: 100%;

  &.ng-invalid.ng-touched {
    border-color: red;
  }
}

.info-button-password {
    border: 1px solid #ced4da;
}

.signup-btn {
  color: #0069d9;
  font-weight: bold;}


