body {
    background-color: #E1F5FE;
}

.btn-primary {
    background-color: #414BB2;
    border-color: #414BB2;
}

.btn-secondary {
    background-color: #0CA789;
    border-color: #0CA789;

    
}

.btn-danger {

    background-color: #cb2e3d;
    border-color: #cb2e3d;

}

.card-title, .card-subtitle {
    text-align: center;
}