<p class="blue">Dashboard works!</p>

<button (click)="logOut()" class="btn btn-danger">log out</button>

<button (click)="workout()" class="btn btn-primary">GO TO WORKOUT</button>

<!--The code below returns a character card from the api-->
<!--<ng-container *ngIf="(appUser | async)?.user as user">-->
<!--    <div class="character-card-container">-->
<!--        <character-card [character]="user" (showLocation)="onShowLocation($event)"></character-card>-->
<!--    </div>-->
<!--</ng-container>-->
