<p class="h1">Workout History</p>

<div class="filter-container">
    <select
        class="form-control"
        id="dropdownMenuButton"
        [(ngModel)]="selectedDate"
    >
        <option value="">Select Date and Click On Filter</option>
        <option *ngFor="let date of workoutDates" [value]="date">
            {{ date }}
        </option>
    </select>
    <button (click)="filterWorkouts()" class="btn btn-primary">Filter</button>
</div>

<div *ngIf="(filteredWorkouts?.exercises)!.length > 0; else noWorkouts">
    <div
        *ngFor="let entry of filteredWorkouts?.exercises"
        class="card mx-auto"
        style="width: 18rem"
    >
        <div class="card-body">
            <h5 class="card-title">{{ entry.exercise }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ entry.weight }} kgs
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ entry.sets }} sets</h6>
            <h6 class="card-subtitle mb-2 text-muted">
                {{ entry.repetitions }} reps
            </h6>
        </div>
    </div>
</div>

<ng-template #noWorkouts>
    <p>No workouts found.</p>
</ng-template>
