body { margin-bottom: 5%;}

.h1 {
    text-align: center;
    margin-top: 20%;
   
}



select {
    width: 80%;
    font-size: 16px;
    padding: 4px;
}

.btn-primary {
    margin-top: 20%;
    margin-left: 2%;
    margin-bottom: 19%
}

.filter-container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 10px;
}